lightgbm==4.6.0
matplotlib==3.10.8
neuralforecast==3.1.7
numpy==2.4.4
pandas==3.0.2
pmdarima==2.1.1
pyarrow==23.0.1
pytorch-lightning==2.6.1
scikit-learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
shap==0.51.0
statsmodels==0.14.6
torch==2.11.0
xgboost==3.2.0
